*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --light-blue: #52c1e6;
  --verylight-blue: #add8e6;
}

.displays {
  display: flex;
}

.iconSize {
  font-size: 1.5rem;
}
